a {
  text-decoration: none;
}
ul {
  list-style: none;
}

/* Page nav */

.logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.logo-studio-nav {
  color: #2e2f42;
}

.page-nav-list {
}
.nav-link {
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.address-list {
}
.address-list-item .address-link {
  color: var(--slate, #434455);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.address-link:hover,
.address-link:focus,
.address-link:active {
  color: #404bbf;
}

/* Order Service */

.page-title-section {
  background: var(--navyblue, #2e2f42);
  line-height: 1.07;
}

.page-title {
  color: var(--white, #fff);
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
}

.order-service-button {
  background: var(--iris, #4d5ae5);
  color: var(--white, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  cursor: pointer;
}

.order-service-button:hover,
.order-service-button:focus {
  background: var(--ocean, #404bbf);
}

/* Company advantages */

.advantages-section {
}

.advantages-list {
}

.section-list-item-title {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.advantages-list-item {
}

.section-list-item-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

/* Our Team  */

.our-team-section {
  background: var(--cloud, #f4f4fd);
}

.section-title {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.our-team-list {
}

.our-team-list-item {
  background: var(--white, #fff);
  text-align: center;
}

.section-list-item-title {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

/* Our Portfolio */
.our-portfolio-section {
}

.section-title {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.our-portfolio-list {
}

.our-portfolio-list-item {
  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--white, #fff);
}

.section-list-item-title {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.section-list-item-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

/* Footer */

footer {
  background: var(--navyblue, #2e2f42);
}
.footer-text {
  color: var(--cloud, #f4f4fd);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.logo {
  color: var(--iris, #4d5ae5);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-studio-footer {
  color: var(--cloud, #f4f4fd);
}
